.head{
    color: white;
background-color: red;
height: 50px;
width: auto;
text-align: center;


}
.oneee{
color:linen;
background-color: black;
height: 20px;
width:22%;


}
.twooo{
color:red;
background-color: black;
font-size:16px;
width: 150px;

}

.threee{
color: rgb(233, 21, 56);
background-color: black;
font-size: 23px;
border: 6px solid yellow;
border-radius: 18px;
margin: 20px;
padding: 20px 10px 100px 150px;
}
.division{
color: blue;
background-color:black;
margin: ;
border: 8px solid yellow;
border-radius: 18px;
font-size: 22px;
margin: 100px;
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
padding-bottom: 50px;




}
body{
background-image: url(download.jpg);


}
.headding{
    color:black;
text-align: center;
border: 22px solid red;
background-color:yellow ;


}